In [1]:
from bs4 import BeautifulSoup
import requests
import re

In [2]:
import pandas as pd
import numpy as np

In [3]:
def simple_parsing(url):
    r  = requests.get(url)
    data = r.text
    return BeautifulSoup(data, "html.parser")

In [4]:
prefix = 'https://he.wikisource.org'
OC_url = prefix + '/wiki/%D7%A9%D7%95%D7%9C%D7%97%D7%9F_%D7%A2%D7%A8%D7%95%D7%9A_%D7%90%D7%95%D7%A8%D7%97_%D7%97%D7%99%D7%99%D7%9D'
YD_url = prefix + '/wiki/%D7%A9%D7%95%D7%9C%D7%97%D7%9F_%D7%A2%D7%A8%D7%95%D7%9A_%D7%99%D7%95%D7%A8%D7%94_%D7%93%D7%A2%D7%94'
EH_url = prefix + '/wiki/%D7%A9%D7%95%D7%9C%D7%97%D7%9F_%D7%A2%D7%A8%D7%95%D7%9A_%D7%90%D7%91%D7%9F_%D7%94%D7%A2%D7%96%D7%A8'
CM_url = prefix + '/wiki/%D7%A9%D7%95%D7%9C%D7%97%D7%9F_%D7%A2%D7%A8%D7%95%D7%9A_%D7%97%D7%95%D7%A9%D7%9F_%D7%9E%D7%A9%D7%A4%D7%98'

## OC

In [305]:
soup = simple_parsing(OC_url)
simanim = soup.findAll('p')[14]

In [9]:
df = pd.DataFrame([i.text for i in soup.findAll('a', text=simanim)])
df = df[0].str.split('•', expand=True)
df['Section'] = 'OC'
df = df.rename(columns={0:'Number', 1:'Description', 2:'Length'})
df.head()

     Number           Description           Length Section
0                            None             None      OC
1  סימן א'       דין השכמת הבוקר     ובו ט' סעיפים      OC
2  סימן ב'       דין לבישת בגדים     ובו ו' סעיפים      OC
3  סימן ג'    דין הנהגת בית הכסא    ובו י"ז סעיפים      OC
4  סימן ד'       דיני נטילת ידים    ובו כ"ג סעיפים      OC

In [10]:
df.tail()

,Number,Description,Length,Section
696,"סימן תרצ""ו",דיני הספד ותענית ועשיית מלאכה בפורים,ובו ח' סעיפים,OC
697,"סימן תרצ""ז",אין אומרים תחינה בארבעה עשר וחמישה עשר שבאדר ...,ובו סעיף אחד,OC
698,,None,None,OC
699,,None,None,OC
700,,None,None,OC

In [11]:
df = df.drop(index=[0, 698, 699, 700])

Strip leading/trailing whitespace

In [12]:
for i in list(df):
    df[i] = df[i].str.strip()

In [13]:
for i in df.Length.unique():
    print(i)

ובו ט' סעיפים
ובו ו' סעיפים
ובו י"ז סעיפים
ובו כ"ג סעיפים
ובו סעיף אחד
ובו ד' סעיפים
ובו י"ב סעיפים
ובו ט"ו סעיפים
ובו ג' סעיפים
ובו ה' סעיפים
ובו ב' סעיפים
ובו י"ג סעיפים
ובו י"א סעיפים
ובו נ"ב סעיפים
ובו י' סעיפים
ובו ח' סעיפים
ובו י"ד סעיפים
ובו כ"ו סעיפים
ובו כ"ב סעיפים
ובו ז' סעיפים
ובו כ"ז סעיפים
ובו מ"ה סעיפים
ובו כ' סעיפים
ובו י"ח סעיפים
ובו נ"א סעיפים
ובו י"ט סעיפים
ובו ט"ז סעיפים
ובו מ"ט סעיפים
ובו ה' הסעיפים
ובו ב' בסעיפים
ובו ל"ו סעיפים
ובו כ"ד סעיפים
ובו כ"ה סעיפים

In [14]:
df['Seifim'] = df.Length  # backup
swap=dict(zip(df.Length.unique(),[9,6,17,23,1,4,12,15,3,5,2,13,11,52,10,8,14,26,22,7,27,45,20,18,51,19,16,49,5,2,36,24,25]))
df.Length = df.Length.map(swap)

In [15]:
df.head()

    Number         Description  Length Section          Seifim
1  סימן א'     דין השכמת הבוקר       9      OC   ובו ט' סעיפים
2  סימן ב'     דין לבישת בגדים       6      OC   ובו ו' סעיפים
3  סימן ג'  דין הנהגת בית הכסא      17      OC  ובו י"ז סעיפים
4  סימן ד'     דיני נטילת ידים      23      OC  ובו כ"ג סעיפים
5  סימן ה'    דין כוונת הברכות       1      OC    ובו סעיף אחד

In [16]:
df.Length.sum()

4175

## YD

In [5]:
soup = simple_parsing(YD_url)
simanim = soup.findAll('p')[13]
links = soup.findAll('a', text=simanim)

In [8]:
df = pd.DataFrame([i.text for i in soup.findAll('a', text=simanim)])
df = df[0].str.split('•', expand=True)
df['Section'] = 'YD'
df = df.rename(columns={0:'Number', 1:'Description', 2:'Length'})
df.head()

,Number,Description,Length,Section
0,,None,None,YD
1,סימן א',מי הם הכשרים לשחוט,"ובו י""ד סעיפים",YD
2,סימן ב',אם שחיטת עובד כוכבים ומומר כשרה,"ובו י""א סעיפים",YD
3,סימן ג',שחיטה אינה צריכה כוונה,ובו סעיף אחד,YD
4,סימן ד',השוחט לשם עבודת כוכבים או לשם דבר אחר מה דינו,ובו ז' סעיפים,YD

In [9]:
df.tail()

         Number               Description         Length Section
402  סימן  ת"ב    דין שמועה קרובה ורחוקה    ובו ? סעיפים      YD
403  סימן  ת"ג          דיני המלקט עצמות    ובו ? סעיפים      YD
404                                  None           None      YD
405                                  None           None      YD
406                                  None           None      YD

In [10]:
df = df.drop(index=[0, 404, 405, 406])

In [11]:
for i in list(df):
    df[i] = df[i].str.strip()

In [12]:
for i in df.Length.unique():
    print(i)

ובו י"ד סעיפים
ובו י"א סעיפים
ובו סעיף אחד
ובו ז' סעיפים
ובו ג' סעיפים
ובו ד' סעיפים
ובו ב' סעיפים
ובו ו' סעיפים
ובו י"ב סעיפים
ובו כ' סעיפים
ובו ח' סעיפים
ובו ה' סעיפים
ובו כ"ד סעיפים
ובו י' סעיפים
ובו י"ז סעיפים
ובו כ"ה סעיפים
ובו ט' סעיפים
ובו י"ג סעיפים
ובו כ"א סעיפים
ובו ל"ג סעיפים
ובו ט"ו סעיפים
ובו ט"ז סעיפים
ובו כ"ו סעיפים
ובו כ"ג סעיפים
ובו כ"ז סעיפים
ובו י"ט סעיפים
ובו מ' סעיפים
ובו י"טסעיפים
ובו ל"ד סעיפים
ובו נ"ד סעיפים
ובו מ"ח סעיפים
ובו ע"ה סעיפים
ובו נ"א סעיפים
ובו ע"ב סעיפים
ובו ? סעיפים
ובו יג סעיפים
ובו ג סעיפים

In [13]:
df['Seifim'] = df.Length  # backup
swap=dict(zip(df.Length.unique(),[14,11,1,7,3,4,2,6,12,20,8,5,24,10,17,25,9,13,21,33,15,16,26,23,27,19,40,19,34,54,48,75,51,72,0,13,3]))
df.Length = df.Length.map(swap)

In [14]:
df.head()

,Number,Description,Length,Section,Seifim
1,סימן א',מי הם הכשרים לשחוט,14,YD,"ובו י""ד סעיפים"
2,סימן ב',אם שחיטת עובד כוכבים ומומר כשרה,11,YD,"ובו י""א סעיפים"
3,סימן ג',שחיטה אינה צריכה כוונה,1,YD,ובו סעיף אחד
4,סימן ד',השוחט לשם עבודת כוכבים או לשם דבר אחר מה דינו,7,YD,ובו ז' סעיפים
5,סימן ה',השוחט לשם קדשים מה דינו,3,YD,ובו ג' סעיפים

We have mapped ? to 0, so we can get an interim total, but it is missing a lot:

In [15]:
df.Length.sum()

2234

Relevant links are from index 1 to -4. This cell scrapes over 400 pages, so it takes a couple of minutes - **try not to run it too much**!

In [16]:
siman_number = 1
siman_to_siman_lengths = {}
for link in links[1:-3]:
    siman_url = prefix + link.attrs['href']
    print('Retrieving {}'.format(siman_number))
    soup = simple_parsing(siman_url)
    siman_to_siman_lengths[siman_number] = len(soup.findAll("span", id=re.compile('סעיף.*')))
    siman_number += 1

Retrieving 1
Retrieving 2
Retrieving 3
Retrieving 4
Retrieving 5
Retrieving 6
Retrieving 7
Retrieving 8
Retrieving 9
Retrieving 10
Retrieving 11
Retrieving 12
Retrieving 13
Retrieving 14
Retrieving 15
Retrieving 16
Retrieving 17
Retrieving 18
Retrieving 19
Retrieving 20
Retrieving 21
Retrieving 22
Retrieving 23
Retrieving 24
Retrieving 25
Retrieving 26
Retrieving 27
Retrieving 28
Retrieving 29
Retrieving 30
Retrieving 31
Retrieving 32
Retrieving 33
Retrieving 34
Retrieving 35
Retrieving 36
Retrieving 37
Retrieving 38
Retrieving 39
Retrieving 40
Retrieving 41
Retrieving 42
Retrieving 43
Retrieving 44
Retrieving 45
Retrieving 46
Retrieving 47
Retrieving 48
Retrieving 49
Retrieving 50
Retrieving 51
Retrieving 52
Retrieving 53
Retrieving 54
Retrieving 55
Retrieving 56
Retrieving 57
Retrieving 58
Retrieving 59
Retrieving 60
Retrieving 61
Retrieving 62
Retrieving 63
Retrieving 64
Retrieving 65
Retrieving 66
Retrieving 67
Retrieving 68
Retrieving 69
Retrieving 70
Retrieving 71
Retrieving 72
Retrieving 73
Retrieving 74
Retrieving 75
Retrieving 76
Retrieving 77
Retrieving 78
Retrieving 79
Retrieving 80
Retrieving 81
Retrieving 82
Retrieving 83
Retrieving 84
Retrieving 85
Retrieving 86
Retrieving 87
Retrieving 88
Retrieving 89
Retrieving 90
Retrieving 91
Retrieving 92
Retrieving 93
Retrieving 94
Retrieving 95
Retrieving 96
Retrieving 97
Retrieving 98
Retrieving 99
Retrieving 100
Retrieving 101
Retrieving 102
Retrieving 103
Retrieving 104
Retrieving 105
Retrieving 106
Retrieving 107
Retrieving 108
Retrieving 109
Retrieving 110
Retrieving 111
Retrieving 112
Retrieving 113
Retrieving 114
Retrieving 115
Retrieving 116
Retrieving 117
Retrieving 118
Retrieving 119
Retrieving 120
Retrieving 121
Retrieving 122
Retrieving 123
Retrieving 124
Retrieving 125
Retrieving 126
Retrieving 127
Retrieving 128
Retrieving 129
Retrieving 130
Retrieving 131
Retrieving 132
Retrieving 133
Retrieving 134
Retrieving 135
Retrieving 136
Retrieving 137
Retrieving 138
Retrieving 139
Retrieving 140
Retrieving 141
Retrieving 142
Retrieving 143
Retrieving 144
Retrieving 145
Retrieving 146
Retrieving 147
Retrieving 148
Retrieving 149
Retrieving 150
Retrieving 151
Retrieving 152
Retrieving 153
Retrieving 154
Retrieving 155
Retrieving 156
Retrieving 157
Retrieving 158
Retrieving 159
Retrieving 160
Retrieving 161
Retrieving 162
Retrieving 163
Retrieving 164
Retrieving 165
Retrieving 166
Retrieving 167
Retrieving 168
Retrieving 169
Retrieving 170
Retrieving 171
Retrieving 172
Retrieving 173
Retrieving 174
Retrieving 175
Retrieving 176
Retrieving 177
Retrieving 178
Retrieving 179
Retrieving 180
Retrieving 181
Retrieving 182
Retrieving 183
Retrieving 184
Retrieving 185
Retrieving 186
Retrieving 187
Retrieving 188
Retrieving 189
Retrieving 190
Retrieving 191
Retrieving 192
Retrieving 193
Retrieving 194
Retrieving 195
Retrieving 196
Retrieving 197
Retrieving 198
Retrieving 199
Retrieving 200
Retrieving 201
Retrieving 202
Retrieving 203
Retrieving 204
Retrieving 205
Retrieving 206
Retrieving 207
Retrieving 208
Retrieving 209
Retrieving 210
Retrieving 211
Retrieving 212
Retrieving 213
Retrieving 214
Retrieving 215
Retrieving 216
Retrieving 217
Retrieving 218
Retrieving 219
Retrieving 220
Retrieving 221
Retrieving 222
Retrieving 223
Retrieving 224
Retrieving 225
Retrieving 226
Retrieving 227
Retrieving 228
Retrieving 229
Retrieving 230
Retrieving 231
Retrieving 232
Retrieving 233
Retrieving 234
Retrieving 235
Retrieving 236
Retrieving 237
Retrieving 238
Retrieving 239
Retrieving 240
Retrieving 241
Retrieving 242
Retrieving 243
Retrieving 244
Retrieving 245
Retrieving 246
Retrieving 247
Retrieving 248
Retrieving 249
Retrieving 250
Retrieving 251
Retrieving 252
Retrieving 253
Retrieving 254
Retrieving 255
Retrieving 256
Retrieving 257
Retrieving 258
Retrieving 259
Retrieving 260
Retrieving 261
Retrieving 262
Retrieving 263
Retrieving 264
Retrieving 265
Retrieving 266
Retrieving 267
Retrieving 268
Retrieving 269
Retrieving 270
Retrieving 271
Retrieving 272
Retrieving 273
Retrieving 274
Retrieving 275
Retrieving 276
Retrieving 277
Retrieving 278
Retrieving 279
Retrieving 280
Retrieving 281
Retrieving 282
Retrieving 283
Retrieving 284
Retrieving 285
Retrieving 286
Retrieving 287
Retrieving 288
Retrieving 289
Retrieving 290
Retrieving 291
Retrieving 292
Retrieving 293
Retrieving 294
Retrieving 295
Retrieving 296
Retrieving 297
Retrieving 298
Retrieving 299
Retrieving 300
Retrieving 301
Retrieving 302
Retrieving 303
Retrieving 304
Retrieving 305
Retrieving 306
Retrieving 307
Retrieving 308
Retrieving 309
Retrieving 310
Retrieving 311
Retrieving 312
Retrieving 313
Retrieving 314
Retrieving 315
Retrieving 316
Retrieving 317
Retrieving 318
Retrieving 319
Retrieving 320
Retrieving 321
Retrieving 322
Retrieving 323
Retrieving 324
Retrieving 325
Retrieving 326
Retrieving 327
Retrieving 328
Retrieving 329
Retrieving 330
Retrieving 331
Retrieving 332
Retrieving 333
Retrieving 334
Retrieving 335
Retrieving 336
Retrieving 337
Retrieving 338
Retrieving 339
Retrieving 340
Retrieving 341
Retrieving 342
Retrieving 343
Retrieving 344
Retrieving 345
Retrieving 346
Retrieving 347
Retrieving 348
Retrieving 349
Retrieving 350
Retrieving 351
Retrieving 352
Retrieving 353
Retrieving 354
Retrieving 355
Retrieving 356
Retrieving 357
Retrieving 358
Retrieving 359
Retrieving 360
Retrieving 361
Retrieving 362
Retrieving 363
Retrieving 364
Retrieving 365
Retrieving 366
Retrieving 367
Retrieving 368
Retrieving 369
Retrieving 370
Retrieving 371
Retrieving 372
Retrieving 373
Retrieving 374
Retrieving 375
Retrieving 376
Retrieving 377
Retrieving 378
Retrieving 379
Retrieving 380
Retrieving 381
Retrieving 382
Retrieving 383
Retrieving 384
Retrieving 385
Retrieving 386
Retrieving 387
Retrieving 388
Retrieving 389
Retrieving 390
Retrieving 391
Retrieving 392
Retrieving 393
Retrieving 394
Retrieving 395
Retrieving 396
Retrieving 397
Retrieving 398
Retrieving 399
Retrieving 400
Retrieving 401
Retrieving 402
Retrieving 403

In [17]:
df['Scraped_num'] = siman_to_siman_lengths.values()

Find errors

In [18]:
check_df = df[df['Length'] != 0]
check_df[check_df.Length != check_df.Scraped_num]

,Number,Description,Length,Section,Seifim,Scraped_num
124,"סימן קכ""ד","מי הוא העושה יין נסך, ודיני נגיעת הגוי בחבית",26,YD,"ובו כ""ו סעיפים",27
233,"סימן רל""ד",מתי האב והבעל מפירין ומתי מפירין שניהם יחד,72,YD,"ובו ע""ב סעיפים",74

There are two mistakes, in both the scraper is right!<br>(Numbered index is one off of most of them because of siman 168-169 being combined...)

In [20]:
df.iloc[166:169,:]

,Number,Description,Length,Section,Seifim,Scraped_num
167,"סימן קס""ז",באיזה אופן מותר להלוות מעות בתנאי שיתעסק בו לר...,1,YD,ובו סעיף אחד,1
168,"סימן קס""ח-קס""ט",כמה דיני ריבית הנעשות באמצעות הגוי,27,YD,"ובו כ""ז סעיפים",27
169,"סימן ק""ע",שלא יוכל ישראל להיות ערב לישראל שלווה מן הגוי ...,2,YD,ובו ב' סעיפים,2

In [21]:
df = df.rename(columns={'Length':'Old_length', 'Scraped_num': 'Length'})

In [22]:
df.Length.sum()

3701

## EH

In [306]:
soup = simple_parsing(EH_url)
simanim = soup.findAll('p')[9]
links = soup.findAll('a', text=simanim)

In [307]:
df = pd.DataFrame([i.text for i in soup.findAll('a', text=simanim)])
df = df[0].str.split('•', expand=True)
df['Section'] = 'EH'
df = df.rename(columns={0:'Number', 1:'Description', 2:'Length'})
df.head()

    Number                               Description           Length Section
0                                               None             None      EH
1  סימן א        דיני פריה ורביה ושלא לעמוד בלא אשה    ובו י"ד סעיפים      EH
2  סימן ב           שישתדל כל אדם ליקח לו אשה הגונה    ובו י"א סעיפים      EH
3  סימן ג                    דין בן שהוא ספק לכהונה     ובו ט' סעיפים      EH
4  סימן ד    מי הם אסורים לבא בקהל ואיזה הנקרא ממזר    ובו ל"ז סעיפים      EH

In [308]:
df = df.drop(index=[0, 181, 182, 183])

Two extra simanim - סדר הגט, and סדר חליצה

In [309]:
df.iloc[153:156,:]

,Number,Description,Length,Section
154,סימן קנד,"למי שכופין להוציא בגט, בין איש בין אשה, וסדר ...",ובו ? סעיפים,EH
155,סדר הגט,"ובו דיני העדים והבעל והסופר והאשה, וכל פרטיו",ובו ? סעיפים,EH
156,סימן קנה,"עד איזה זמן הקטנה ממאנת, ויתר דיני מיאון",ובו ? סעיפים,EH

In [310]:
df.iloc[169:172,:]

         Number                     Description         Length Section
170   סימן קסט            כל דיני חליצה בפרטות    ובו ? סעיפים      EH
171  סדר חליצה                     ובו ? סעיפים           None      EH
172    סימן קע    דין גט אחר גט ומאמר אחר מאמר    ובו ? סעיפים      EH

In [311]:
for i in list(df):
    df[i] = df[i].str.strip()

In [312]:
for i in df.Length.unique():
    print(i)

ובו י"ד סעיפים
ובו י"א סעיפים
ובו ט' סעיפים
ובו ל"ז סעיפים
ובו ט"ו סעיפים
ובו כ"ג סעיפים
ובו ה' סעיפים
ובו ב' סעיפים
ובו ז' סעיפים
ובו ח' סעיפים
ובו ד' סעיפים
ובו ? סעיפים
None

In [313]:
df['Seifim'] = df.Length  # backup
swap=dict(zip(df.Length.unique(),[14,11,9,37,15,23,5,2,7,8,4,0,0]))
df.Length = df.Length.map(swap)

In [314]:
siman_number = 1
siman_to_siman_lengths = {}
for link in links[1:-3]:
    siman_url = prefix + link.attrs['href']
    print('Retrieving {}'.format(siman_number))
    soup = simple_parsing(siman_url)
    siman_to_siman_lengths[siman_number] = len(soup.findAll("span", id=re.compile('סעיף.*')))
    siman_number += 1

Retrieving 1
Retrieving 2
Retrieving 3
Retrieving 4
Retrieving 5
Retrieving 6
Retrieving 7
Retrieving 8
Retrieving 9
Retrieving 10
Retrieving 11
Retrieving 12
Retrieving 13
Retrieving 14
Retrieving 15
Retrieving 16
Retrieving 17
Retrieving 18
Retrieving 19
Retrieving 20
Retrieving 21
Retrieving 22
Retrieving 23
Retrieving 24
Retrieving 25
Retrieving 26
Retrieving 27
Retrieving 28
Retrieving 29
Retrieving 30
Retrieving 31
Retrieving 32
Retrieving 33
Retrieving 34
Retrieving 35
Retrieving 36
Retrieving 37
Retrieving 38
Retrieving 39
Retrieving 40
Retrieving 41
Retrieving 42
Retrieving 43
Retrieving 44
Retrieving 45
Retrieving 46
Retrieving 47
Retrieving 48
Retrieving 49
Retrieving 50
Retrieving 51
Retrieving 52
Retrieving 53
Retrieving 54
Retrieving 55
Retrieving 56
Retrieving 57
Retrieving 58
Retrieving 59
Retrieving 60
Retrieving 61
Retrieving 62
Retrieving 63
Retrieving 64
Retrieving 65
Retrieving 66
Retrieving 67
Retrieving 68
Retrieving 69
Retrieving 70
Retrieving 71
Retrieving 72
Retrieving 73
Retrieving 74
Retrieving 75
Retrieving 76
Retrieving 77
Retrieving 78
Retrieving 79
Retrieving 80
Retrieving 81
Retrieving 82
Retrieving 83
Retrieving 84
Retrieving 85
Retrieving 86
Retrieving 87
Retrieving 88
Retrieving 89
Retrieving 90
Retrieving 91
Retrieving 92
Retrieving 93
Retrieving 94
Retrieving 95
Retrieving 96
Retrieving 97
Retrieving 98
Retrieving 99
Retrieving 100
Retrieving 101
Retrieving 102
Retrieving 103
Retrieving 104
Retrieving 105
Retrieving 106
Retrieving 107
Retrieving 108
Retrieving 109
Retrieving 110
Retrieving 111
Retrieving 112
Retrieving 113
Retrieving 114
Retrieving 115
Retrieving 116
Retrieving 117
Retrieving 118
Retrieving 119
Retrieving 120
Retrieving 121
Retrieving 122
Retrieving 123
Retrieving 124
Retrieving 125
Retrieving 126
Retrieving 127
Retrieving 128
Retrieving 129
Retrieving 130
Retrieving 131
Retrieving 132
Retrieving 133
Retrieving 134
Retrieving 135
Retrieving 136
Retrieving 137
Retrieving 138
Retrieving 139
Retrieving 140
Retrieving 141
Retrieving 142
Retrieving 143
Retrieving 144
Retrieving 145
Retrieving 146
Retrieving 147
Retrieving 148
Retrieving 149
Retrieving 150
Retrieving 151
Retrieving 152
Retrieving 153
Retrieving 154
Retrieving 155
Retrieving 156
Retrieving 157
Retrieving 158
Retrieving 159
Retrieving 160
Retrieving 161
Retrieving 162
Retrieving 163
Retrieving 164
Retrieving 165
Retrieving 166
Retrieving 167
Retrieving 168
Retrieving 169
Retrieving 170
Retrieving 171
Retrieving 172
Retrieving 173
Retrieving 174
Retrieving 175
Retrieving 176
Retrieving 177
Retrieving 178
Retrieving 179
Retrieving 180

In [315]:
df['Scraped_num'] = siman_to_siman_lengths.values()

In [316]:
check_df = df[df['Length'] != 0]
check_df[check_df.Length != check_df.Scraped_num]

,Number,Description,Length,Section,Seifim,Scraped_num
6,סימן ו,נשים האסורות לכהן ודין אשת כהן,15,EH,"ובו ט""ו סעיפים",18

Scraper is correct!

In [317]:
df = df.rename(columns={'Length':'Old_length', 'Scraped_num': 'Length'})

In [318]:
df.Length.sum()

1988

## CM

In [287]:
soup = simple_parsing(CM_url)
simanim = soup.findAll('a')
simanim = simanim[80:507]

In [288]:
df = pd.DataFrame([i.attrs['title'] for i in simanim])  # page is formatted slightly differently
df['Section'] = 'CM'
df = df.rename(columns={0:'Number'})

In [289]:
for i in list(df):
    df[i] = df[i].str.strip()

In [279]:
siman_number = 1
siman_to_siman_lengths = {}
for siman in simanim:
    siman_url = prefix + siman.attrs['href']
    print('Retrieving {}'.format(siman_number))
    soup = simple_parsing(siman_url)
    siman_to_siman_lengths[siman_number] = len(soup.findAll("span", id=re.compile('סעיף.*')))
    siman_number += 1

Retrieving 1
Retrieving 2
Retrieving 3
Retrieving 4
Retrieving 5
Retrieving 6
Retrieving 7
Retrieving 8
Retrieving 9
Retrieving 10
Retrieving 11
Retrieving 12
Retrieving 13
Retrieving 14
Retrieving 15
Retrieving 16
Retrieving 17
Retrieving 18
Retrieving 19
Retrieving 20
Retrieving 21
Retrieving 22
Retrieving 23
Retrieving 24
Retrieving 25
Retrieving 26
Retrieving 27
Retrieving 28
Retrieving 29
Retrieving 30
Retrieving 31
Retrieving 32
Retrieving 33
Retrieving 34
Retrieving 35
Retrieving 36
Retrieving 37
Retrieving 38
Retrieving 39
Retrieving 40
Retrieving 41
Retrieving 42
Retrieving 43
Retrieving 44
Retrieving 45
Retrieving 46
Retrieving 47
Retrieving 48
Retrieving 49
Retrieving 50
Retrieving 51
Retrieving 52
Retrieving 53
Retrieving 54
Retrieving 55
Retrieving 56
Retrieving 57
Retrieving 58
Retrieving 59
Retrieving 60
Retrieving 61
Retrieving 62
Retrieving 63
Retrieving 64
Retrieving 65
Retrieving 66
Retrieving 67
Retrieving 68
Retrieving 69
Retrieving 70
Retrieving 71
Retrieving 72
Retrieving 73
Retrieving 74
Retrieving 75
Retrieving 76
Retrieving 77
Retrieving 78
Retrieving 79
Retrieving 80
Retrieving 81
Retrieving 82
Retrieving 83
Retrieving 84
Retrieving 85
Retrieving 86
Retrieving 87
Retrieving 88
Retrieving 89
Retrieving 90
Retrieving 91
Retrieving 92
Retrieving 93
Retrieving 94
Retrieving 95
Retrieving 96
Retrieving 97
Retrieving 98
Retrieving 99
Retrieving 100
Retrieving 101
Retrieving 102
Retrieving 103
Retrieving 104
Retrieving 105
Retrieving 106
Retrieving 107
Retrieving 108
Retrieving 109
Retrieving 110
Retrieving 111
Retrieving 112
Retrieving 113
Retrieving 114
Retrieving 115
Retrieving 116
Retrieving 117
Retrieving 118
Retrieving 119
Retrieving 120
Retrieving 121
Retrieving 122
Retrieving 123
Retrieving 124
Retrieving 125
Retrieving 126
Retrieving 127
Retrieving 128
Retrieving 129
Retrieving 130
Retrieving 131
Retrieving 132
Retrieving 133
Retrieving 134
Retrieving 135
Retrieving 136
Retrieving 137
Retrieving 138
Retrieving 139
Retrieving 140
Retrieving 141
Retrieving 142
Retrieving 143
Retrieving 144
Retrieving 145
Retrieving 146
Retrieving 147
Retrieving 148
Retrieving 149
Retrieving 150
Retrieving 151
Retrieving 152
Retrieving 153
Retrieving 154
Retrieving 155
Retrieving 156
Retrieving 157
Retrieving 158
Retrieving 159
Retrieving 160
Retrieving 161
Retrieving 162
Retrieving 163
Retrieving 164
Retrieving 165
Retrieving 166
Retrieving 167
Retrieving 168
Retrieving 169
Retrieving 170
Retrieving 171
Retrieving 172
Retrieving 173
Retrieving 174
Retrieving 175
Retrieving 176
Retrieving 177
Retrieving 178
Retrieving 179
Retrieving 180
Retrieving 181
Retrieving 182
Retrieving 183
Retrieving 184
Retrieving 185
Retrieving 186
Retrieving 187
Retrieving 188
Retrieving 189
Retrieving 190
Retrieving 191
Retrieving 192
Retrieving 193
Retrieving 194
Retrieving 195
Retrieving 196
Retrieving 197
Retrieving 198
Retrieving 199
Retrieving 200
Retrieving 201
Retrieving 202
Retrieving 203
Retrieving 204
Retrieving 205
Retrieving 206
Retrieving 207
Retrieving 208
Retrieving 209
Retrieving 210
Retrieving 211
Retrieving 212
Retrieving 213
Retrieving 214
Retrieving 215
Retrieving 216
Retrieving 217
Retrieving 218
Retrieving 219
Retrieving 220
Retrieving 221
Retrieving 222
Retrieving 223
Retrieving 224
Retrieving 225
Retrieving 226
Retrieving 227
Retrieving 228
Retrieving 229
Retrieving 230
Retrieving 231
Retrieving 232
Retrieving 233
Retrieving 234
Retrieving 235
Retrieving 236
Retrieving 237
Retrieving 238
Retrieving 239
Retrieving 240
Retrieving 241
Retrieving 242
Retrieving 243
Retrieving 244
Retrieving 245
Retrieving 246
Retrieving 247
Retrieving 248
Retrieving 249
Retrieving 250
Retrieving 251
Retrieving 252
Retrieving 253
Retrieving 254
Retrieving 255
Retrieving 256
Retrieving 257
Retrieving 258
Retrieving 259
Retrieving 260
Retrieving 261
Retrieving 262
Retrieving 263
Retrieving 264
Retrieving 265
Retrieving 266
Retrieving 267
Retrieving 268
Retrieving 269
Retrieving 270
Retrieving 271
Retrieving 272
Retrieving 273
Retrieving 274
Retrieving 275
Retrieving 276
Retrieving 277
Retrieving 278
Retrieving 279
Retrieving 280
Retrieving 281
Retrieving 282
Retrieving 283
Retrieving 284
Retrieving 285
Retrieving 286
Retrieving 287
Retrieving 288
Retrieving 289
Retrieving 290
Retrieving 291
Retrieving 292
Retrieving 293
Retrieving 294
Retrieving 295
Retrieving 296
Retrieving 297
Retrieving 298
Retrieving 299
Retrieving 300
Retrieving 301
Retrieving 302
Retrieving 303
Retrieving 304
Retrieving 305
Retrieving 306
Retrieving 307
Retrieving 308
Retrieving 309
Retrieving 310
Retrieving 311
Retrieving 312
Retrieving 313
Retrieving 314
Retrieving 315
Retrieving 316
Retrieving 317
Retrieving 318
Retrieving 319
Retrieving 320
Retrieving 321
Retrieving 322
Retrieving 323
Retrieving 324
Retrieving 325
Retrieving 326
Retrieving 327
Retrieving 328
Retrieving 329
Retrieving 330
Retrieving 331
Retrieving 332
Retrieving 333
Retrieving 334
Retrieving 335
Retrieving 336
Retrieving 337
Retrieving 338
Retrieving 339
Retrieving 340
Retrieving 341
Retrieving 342
Retrieving 343
Retrieving 344
Retrieving 345
Retrieving 346
Retrieving 347
Retrieving 348
Retrieving 349
Retrieving 350
Retrieving 351
Retrieving 352
Retrieving 353
Retrieving 354
Retrieving 355
Retrieving 356
Retrieving 357
Retrieving 358
Retrieving 359
Retrieving 360
Retrieving 361
Retrieving 362
Retrieving 363
Retrieving 364
Retrieving 365
Retrieving 366
Retrieving 367
Retrieving 368
Retrieving 369
Retrieving 370
Retrieving 371
Retrieving 372
Retrieving 373
Retrieving 374
Retrieving 375
Retrieving 376
Retrieving 377
Retrieving 378
Retrieving 379
Retrieving 380
Retrieving 381
Retrieving 382
Retrieving 383
Retrieving 384
Retrieving 385
Retrieving 386
Retrieving 387
Retrieving 388
Retrieving 389
Retrieving 390
Retrieving 391
Retrieving 392
Retrieving 393
Retrieving 394
Retrieving 395
Retrieving 396
Retrieving 397
Retrieving 398
Retrieving 399
Retrieving 400
Retrieving 401
Retrieving 402
Retrieving 403
Retrieving 404
Retrieving 405
Retrieving 406
Retrieving 407
Retrieving 408
Retrieving 409
Retrieving 410
Retrieving 411
Retrieving 412
Retrieving 413
Retrieving 414
Retrieving 415
Retrieving 416
Retrieving 417
Retrieving 418
Retrieving 419
Retrieving 420
Retrieving 421
Retrieving 422
Retrieving 423
Retrieving 424
Retrieving 425
Retrieving 426
Retrieving 427

In [304]:
df['Scraped_num'] = siman_to_siman_lengths.values()
df = df.rename(columns={'Scraped_num':'Length'})
df.Length.sum()

3692